<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners List Page</title>
</head>
<body>

<!--/*@thymesVar id="owner" type="guru.springframework.sftpetclinic.model.Owners"*/-->

<h2 th:text="#{Owners.List.Page.Heading}">Owners List Page (Default)</h2>

<table class="table table-striped">
    <thead>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">FirstName</th>
        <th style="width: 150px;">LastName</th>
    </thead>
    <tbody>
        <tr th:each="owner: ${owners}">
            <td th:text="${owner.id}">No</td>
            <td th:text="${owner.firstName}">Data</td>
            <td th:text="${owner.lastName}">Here</td>
        </tr>
    </tbody>
</table>
</body>
</html>
