<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets List Index</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.springframework.sftpetclinic.model.Vet"*/-->

<h2 th:text="#{vets.list.page.heading}">Vets List Index</h2>

<table class="table table-striped">
    <thead>
    <th style="width: 150px;">Id</th>
    <th style="width: 150px;">FirstName</th>
    <th style="width: 150px;">LastName</th>
    </thead>
    <tbody>
    <tr th:each="vet: ${vets}">
        <td th:text="${vet.id}">No</td>
        <td th:text="${vet.firstName}">Data</td>
        <td th:text="${vet.lastName}">Here</td>
    </tr>
    </tbody>
</table>
</body>
</html>
